* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  margin: auto;
  background: radial-gradient(#fff, #ae00ff);
}

img {
  width: 200px;
  height: 500px;
}
.col-2 img {
  width: auto;
  height: auto;
}
.col-3 img {
  width: 300px;
  height: 300px;
}
.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}
p {
  color: #555;
}
.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col-2 {
  flex-basis: 66%;
  min-width: 300px;
  text-align: center;
}
.col-2 img {
  max-width: 100%;
  padding-top: 20px;
}

.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn {
  background-color: #fff; /* Warna latar belakang tombol */
  color: #ae00ff; /* Warna teks tombol */

  /* width: ; */
  /* padding: 10px 20px; */
  border: none; /* Menghapus border pada tombol */
  border-radius: 4px; /* Membuat tombol menjadi lebih berbentuk */
  cursor: pointer; /* Mengubah kursor saat diarahkan ke tombol */
  font-size: 24px; /* Ukuran teks tombol */
  font-weight: bold; /* Menambahkan ketebalan pada teks tombol */
  transition: background-color 0.3s ease; /* Menambahkan efek transisi pada saat tombol dihover */
  margin-right: 10px; /* Jarak antara kedua tombol */
}

.btn1 {
  padding: 7px 20px;
  background-color: #fff; /* Warna latar belakang tombol */
  color: #ae00ff; /* Warna teks tombol */

  /* width: ; */
  /* padding: 10px 20px; */
  border: none; /* Menghapus border pada tombol */
  border-radius: 4px; /* Membuat tombol menjadi lebih berbentuk */
  cursor: pointer; /* Mengubah kursor saat diarahkan ke tombol */
  font-size: 20px; /* Ukuran teks tombol */
  font-weight: bold; /* Menambahkan ketebalan pada teks tombol */
  transition: background-color 0.3s ease;
}

.btn1:hover {
  background-color: #ae00ff; /* Warna latar belakang tombol saat dihover */
  color: #fff;
}

.categories {
  margin: 70px 0;
}

.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.title {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}
.title::after {
  content: "";
  background: #ff523b;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
h4 {
  color: #555;
  font-weight: normal;
}

.rating .fa {
  color: #ff523b;
}

/*Result web*/
.result {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-top: 10px;
}
.result img {
  width: 300px;
  height: 300px;
  margin-left: 20px;
  border: #fff;
}

.btn-kembali {
  margin-top: 20px;
  width: 100px;
  padding: 12px 22px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #ae00ff;
  background-color: #fff;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.btn-kembali:hover {
  background-color: #ae00ff;
  color: #fff;
}

/*TEAM STYLE CSS*/
.teamContainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}
.team-member {
  flex-basis: calc(33.33% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 40px;
}
.team-member img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin-bottom: 20px;
}
.team-member h3 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2;
}
.team-member p {
  margin: 0;
  font-size: 16px;
  line-height: 1.4;
}

/* Style the navigation bar */
.navbar {
  margin: auto;
  width: 80%;
  background-color: #700092;
  overflow: auto;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #000;
}

/* Current/active navbar link */
.active {
  background-color: #df6dfc;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
